<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <navin>
            <general>
                <enabled>1</enabled>
                <showpaymentmethod>1</showpaymentmethod>
                <showshippingmethod>1</showshippingmethod>
                <showbillingaddress>1</showbillingaddress>
                <showshipingaddress>1</showshipingaddress>
                <showorderedproduct>1</showorderedproduct>
                <showorderstatus>1</showorderstatus>
            </general>
            <message>   
                    <thankyoumessage>Thank You</thankyoumessage>
            </message>
        </navin>
    </default>
</config>
