<?xml version="1.0"?>
<!--
/**
* Webindiainc_OrderDetails
*
* @category    OrderDetails
* @package     Webindiainc_OrderDetails
* @copyright   Webindiainc (http://webindiainc.com)
*/
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <preference for="Magento\Checkout\Block\Onepage\Success"
                type="Navin\OrderDetails\Block\Onepage\Success"/>
</config>
